body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://kartinkin.net/uploads/posts/2021-03/1616116478_7-p-kosmos-krasivie-foto-7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}